<div class="search-bar">
    <span>Search Videos:</span>
    <input type="text" [(ngModel)]="searchQuery" (keyup)="onSearch(cloneVideos, searchQuery)" />
</div>
<table>
    <thead>
        <tr>
            <td>Video Name</td>
            <td>Author</td>
            <td>Category Name</td>
            <td>Highest Quality format</td>
            <td>Release Date</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let video of videos">
            <td>{{video.name}}</td>
            <td>{{video.authorName}}</td>
            <td>{{getCategories(video.catIds, categories)}}</td>
            <td>{{getQualityForamt(video.formats)}}</td>
            <td>{{formatDate(video.releaseDate)}}</td>
            <td>
                <button>Edit</button>
                <button (click)="removeEntry(video)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="!videos.length">
            No data Available
        </tr>
    </tbody>
</table> 
<!-- <ul>
    <li 
       *ngFor="let movie of Movies; let first = first; 
       let last = last" [ngClass]="{ first: first, last: last }">
         {{ movie.name }}
    </li>
  </ul> -->